<div class="modal-dialog modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <p class="heading lead">{{ payload.Title }}</p>

      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="hide()"
      >
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <!--Card image-->
        <div class="top__img-container">
          <img [src]="payload.Poster" alt="Card image cap" />
        </div>

        <!--Card content-->
        <div class="movie__details-container">
          <div>
            <span class="movie__info-title">Released: </span
            >{{ payload.Released }}
          </div>
          <div>
            <span class="movie__info-title">imdb Rating: </span
            >{{ payload.imdbRating }}
          </div>
          <div>
            <span class="movie__info-title">imdb Votes: </span
            >{{ payload.imdbVotes }}
          </div>

          <div>
            <span class="movie__info-title">Run time: </span
            >{{ payload.Runtime }}
          </div>
          <div>
            <span class="movie__info-title">Actors: </span>{{ payload.Actors }}
          </div>
          <div>
            <span class="movie__info-title">Plot: </span>{{ payload.Plot }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Content-->
</div>
