@import "../../../../styles.scss";

:host {
  position: absolute;
  z-index: 2000;
  bottom: 4.4rem;
  right: 1.5rem;
  cursor: pointer;
}

i {
  color: $primary-light;
  border-color: $primary-light;
  font-size: 2rem;
}

@media (min-width: 40rem) {
  i {
    font-size: 4rem;
  }

  :host {
    bottom: 6rem;
  }
}
