/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 80vh;
}
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgba(0, 0, 0, 0.9);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
$accent: rgb(255, 3, 129);
$primary-light: rgb(88, 236, 255);
$modal-background: rgba(0, 0, 0, 0.7);
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(124, 15, 15, 0.3);
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
